* {
    box-sizing: border-box;
    margin: 0;
    padding: 0S;
}

header {
    width: 100%;
    min-height: 70px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgOrange {
    background-color: #ff6900;
    height: 100%;
    width: calc(100% / 3);
    height: 70px;
}
.BgRed {
    background-color: #ff0000;
}
.BgGreen{
    background-color: #008000;
}
a {
    text-decoration: none;
    margin: 0 9px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    text-decoration: underline;
}

.bgOrange img{
    height: 46%;
}
.bgOrange i{
    margin: 0 10px;
    color: whitesmoke;
}

.flex2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin: 56px;
    margin-left: 11%;
}

.visible{
    position: absolute;
    top: 13%;
}
.hov:hover{
    position: relative;
}
.visible2{
    position: absolute;
    right: 39%;
    top: 13%;
}
.hov2:hover{
    position: relative;
}
.visible3{
    position: absolute;
    top: 13%;
    right: 14%;
}
.hov3:hover{
    position: relative;
}
.visible4{
    position: absolute;
    top: 83%;
}
.hov4:hover{
    position: relative;
}
.visible5{
    position: absolute;
    top: 83%;
    right: 39%;
}
.hov5:hover{
    position: relative;
}
.visible6{
    position: absolute;
    top: 83%;
    right: 14%;
}
.hov6:hover{
    position: relative;
}
.flex2 img{
    width: 450px;
    margin: 8px;
}
.outlet{
    position: absolute;
    height: 25px;
    width: 55px;
    color: whitesmoke;
    font-family: arial;
}
.outlet2{
    position: absolute;
    height: 25px;
    width: 6%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.pos1 {
    left: 212px;
    top: 756px;
}
.pos2{
    left: 36.4%;
    top: 756px;
}
.pos3{
    left: 61.4%;
     top: 756px;
}
.pos4{
    top: 1424px;
    left: 11.4%;
}
.pos6{
    left: 61.4%;
    top: 1424px;
}
.posit1{
    top: 756px;
    left: 14.5%;
}
.posit2{
    left: 14.5%;
    top: 1424px;
}
.posit3{
    left: 64.5%;
    top: 1424px;
}
.p1{
    position: absolute;
    top: 15%;
    left: 32.8%;
}
.p2{
    position: absolute;
    top: 15%;
    left: 58%;
}
.p3{
    position: absolute;
    top: 15%;
    left: 83%;
}
.p4{
    position: absolute;
    top: 85%;
    left: 32.8%
}
.p5{
    position: absolute;
    top: 85%;
    left: 58%;
}
.p6{
    position: absolute;
    top: 85%;
    left: 83%;
}
.border{
    border: #1a1a1a 1px none;
    background-color: whitesmoke;
    padding: 1%;
    height: 6%;
}
.flex3 {
    display: flex ;
    justify-content: space-around;
    align-items: center;
}
footer {
    margin-top: 30px;
    padding: 30px 0;
    background-color: #1a1a1a;
    color: whitesmoke
}
.footer.title {
    font-size: 1,5em;
}
.margins h2{
    margin-left: -5%;
}
.margins a{
    margin-left: -0.80%;
}
.flex4 ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
 }
 h5 {
    margin-left: 23%;
 }

